<!doctype html>
<html lang="en">
  <head>
    <title>Lunch Checker</title>
    <script src="angular.js"></script>
    <script src="app.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/main.css">
    <style>
      .message { font-size: 1.3em; font-weight: bold; }
    </style>
  </head>
<body ng-app='LunchCheck'>
   <div class="container" ng-controller="LunchCheckController">
     <h1>Lunch Checker</h1>
         <p id='alert-message'>* <b>,,</b> and <b>, ,</b> considered as an empty item!</p>
         <div class="form-group">
             <input id="lunch-menu" type="text"
             placeholder="list comma separated dishes you usually have for lunch"
             class="form-control" ng-model='dishesList'>
         </div>
         <div class="form-group">
             <button class="btn btn-default" ng-click='countDishes(dishesList)'>Check If Too Much</button>
         </div>
         <div class="form-group message">
           <p id={{status}} class="status-message">{{message}}</p>
         </div>
   </div>

</body>
</html>
