* {
	box-sizing: border-box;
	font-size: 16px;
}


.menu-item {
	background-color: #FCA8A8;
	padding: 5px 15px 5px 15px;
	margin-top: 25px;
}

.back-to-top-btn {
	margin-top: 15px;
	margin-bottom: 15px;
}