#red {
	color: red;
}

#green {
	color: green;
}

#lunch-menu-green {
	border: 2px solid green;
}

#lunch-menu-red {
	border: 2px solid red;
}

#alert-message {
	font-style: italic;
	margin: 20px 0px 20px;
}